@import 'normalize';
@import 'mixins';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    background-color: black;

    background-image: url('images/happy-little-bg-medium.png');
    background-position: top center;
    background-repeat: no-repeat;

    @include mq(64em) {
        background-image: url('images/happy-little-bg-large.png');
    }

    @include mq(80em) {
        background-size: contain;
    }
}

body {}

.container {
    margin: 0 auto;
    padding: 0 2em;
}

.container--small {
    max-width: 32em;
}

.container--medium {
    max-width: 48em;
}

.container--large {
    max-width: 64em;
}

.header {
    padding: 15% 0;
    text-align: center;
}

.logo {
    max-width: 32em;
}

.generate-options {
    margin-bottom: 2em;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5em;
    color: white;

    label {
        display: block;
        margin-bottom: 5px;
    }
}

.increment-button {
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    line-height: 1;
}

.generate-button {
    height: 32px;
    padding-right: 1em;
    padding-left: 1em;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    line-height: 1;
}

.number {
    height: 34px;
    width: 50px;
    border: 0;
    background-color: transparent;
    color: white;
    line-height: 1;
    text-align: center;
}

.copy-text-button-wrapper {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.copy-text-button {
    height: 16px;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.copy-message {
    position: absolute;
    top: -2px;
    right: 21px;
    background-color: rgba(white, 0.5);
    white-space: nowrap;
    line-height: 1;

    &.is-error {
        padding: 4px;
        border-radius: 2px;
        background-color: tomato;
    }

    &.is-success {
        padding: 4px;
        border-radius: 2px;
        background-color: limegreen;
    }
}

.clipboard-icon {
    height: 16px;
    width: 16px;
    fill: currentColor;
}

.generated-content {
    position: relative;
    padding: 1em 2em;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5em;
    color: white;
}

.footer {
    margin-top: 4em;
    padding: 2em 0;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;

    a {
        font-weight: 700;
        color: white;
    }
}
